
.skills{
    display: flex;
    height: 90vh;
    margin-top: 4rem;
    margin-left: 1rem;
}
.s-right{
    position: relative;
}
.s-maincircle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: rgb(255, 255, 255);
    margin-left:-3rem;
}
.s-maincircle>*{
    position: absolute;
}
/* cplusplus */
.s-maincircle>:nth-child(1){
    top:-3rem;
    left:6em;
}
/* java */
.s-maincircle>:nth-child(2){
    top:5rem;
    left:-3rem;
    margin-top: -38px;
    transform: scale(0.8);
}
/* react */
.s-maincircle>:nth-child(3){
    top:5rem;
    left:15rem;
}
/* httml */
.s-maincircle>:nth-child(4){
    top:13rem;
    left:1rem;
}
/* css */
.s-maincircle>:nth-child(5){
    top:13rem;
    left:13rem;
}
/* js */
.s-maincircle>:nth-child(6){
    top:5rem;
    left:6rem;
}
.s-maincircle>*{
    transform: scale(0.7);
}
@media screen and (max-width: 1254px) {
    .skills{
        display: flex;
        flex-direction: column ; 
        margin-top: 3rem;
        gap: 2rem;
        margin-left: -1rem;
    }
    .s-maincircle{
        transform: scale(0.9);
        margin-left: 3rem;
    }

}
@media screen and (max-width: 764px) {
    .skills{
        display: flex;
        flex-direction: column ; 
        margin-top: 15rem;
        gap: 2rem;
        margin-left: -1rem;
    }
    .s-maincircle{
        transform: scale(0.85);
        margin-left: -4rem;
    }
    
}